<!DOCTYPE html>
<html lang="en">

<head>
  <%-include('head') %>
    <title>
      <%= title %>
    </title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="styles/style.css" />
</head>

<body>
  <div class="container">
    <div class="header">
      <h2>Create Account</h2>
      <form class="form" id="form">
        <div class="form-control">
          <label for="fname">Firstname</label>
          <input type="text" id="fname" name="fname" />
          <i class="fas fa-check-circle"></i>
          <i class="fas fa-exclamation-circle"></i>
          <small>Error message</small>
        </div>
        <div class="form-control">
          <label for="lname">Lastname</label>
          <input type="text" id="lname" name="lname" />
          <i class="fas fa-check-circle"></i>
          <i class="fas fa-exclamation-circle"></i>
          <small>Error message</small>
        </div>
        <label>Gender:</label>
        <input type="radio" id="male" name="gender" value="M" />
        <label for="male">Male</label>
        <input type="radio" id="female" name="gender" value="F" />
        <label for="female">Female</label><br><br><br>
        <div class="form-control">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" />
          <i class="fas fa-check-circle"></i>
          <i class="fas fa-exclamation-circle"></i>
          <small>Error message</small>
        </div>
        <div class="form-control">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" />
          <i class="fas fa-check-circle"></i>
          <i class="fas fa-exclamation-circle"></i>
          <small>Error message</small>
        </div>
        <button>Submit</button>
      </form>
      <p>Have an account? <a href="/">Login</a></p>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="scripts/signup.js"></script>
</body>

</html>